.section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../../../../markup/img/no-places@2x.png);
  background-size: 100% 100%;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15pt;
  font-weight: bold;
  color: rgb(90, 4, 90);
  margin-left: 40%;
  margin-bottom: 3%;
}

.link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 18pt;
  color:rgb(207, 192, 217);
  border: 2px solid indigo;
  margin-left: 35%;
  display: inline-block;
  background-color:rgb(49, 7, 63);
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 250%;
  color: darkmagenta;
  margin-left: 40%;
  margin-top: 5%
};


